openapi: 3.1.0
info:
  title: Malaysia Payroll Statutory API
  description: EPF, SOCSO, EIS, HRDF, and PCB calculations for Malaysian payroll.
  version: 0.1.0
  contact:
    name: Sienz16
  license:
    name: MIT
servers:
  - url: https://payroll.dpnc.my/api/v1
    description: Production
  - url: http://localhost:4000/api/v1
    description: Local dev
paths:
  /health:
    get:
      summary: Liveness probe
      operationId: health
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  status: { type: string, example: ok }
                   version: { type: string, example: "2026.2" }
  /ready:
    get:
      summary: Readiness probe
      operationId: ready
      security: []
      responses:
        "200":
          description: Required application workers are available
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  status: { type: string, example: ready }
        "503":
          description: Required application workers are unavailable
  /openapi.yaml:
    get:
      summary: Serve this OpenAPI contract
      operationId: openapiSpec
      security: []
      responses:
        "200":
          description: OpenAPI 3.1 YAML document
          content:
            application/yaml:
              schema:
                type: string
  /rates:
    get:
      summary: Current statutory rate tables
      operationId: getRates
      parameters:
        - name: year
          in: query
          required: false
          schema: { type: integer, default: 2026 }
          description: Rate year
      responses:
        "200":
          description: Rate tables
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      year: { type: integer }
                      effective_from: { type: string, example: "2026-01-01" }
                      effective_to: { type: string, example: "2026-12-31" }
                      epf:
                        type: object
                        properties:
                          employee_rate: { type: number, example: 0.11 }
                          employer_rate_at_or_under_5k: { type: number, example: 0.13 }
                          employer_rate_over_5k: { type: number, example: 0.12 }
                          wage_threshold: { type: number, example: 5000 }
                          schedule_required_below_rm: { type: number, example: 20000.01 }
                      socso:
                        type: object
                        properties:
                          wage_ceiling: { type: number, example: 6000 }
                          category1_brackets:
                            type: array
                            items:
                              type: object
                              properties:
                                max: { type: number }
                                employer: { type: number }
                                employee: { type: number }
                          category2_brackets:
                            type: array
                            items:
                              type: object
                              properties:
                                max: { type: number }
                                employer: { type: number }
                                employee: { type: number }
                      eis:
                        type: object
                        properties:
                          wage_ceiling: { type: number, example: 6000 }
                          brackets:
                            type: array
                            items:
                              type: object
                              properties:
                                max: { type: number }
                                contribution: { type: number }
                      hrdf:
                        type: object
                        properties:
                          employer_rate: { type: number, example: 0.01 }
                          applicable: { type: boolean }
                      minimum_wage: { type: number, example: 1700 }
                  sources:
                    type: object
                    additionalProperties: { type: string }
                  supported_years:
                    type: array
                    items: { type: integer }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
  /calculate-payslip:
    post:
      summary: Calculate statutory payslip breakdown (prototype scope)
      operationId: calculatePayslip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wage]
              properties:
                wage:
                  type: number
                  description: Gross monthly wage in RM (must be greater than zero)
                  example: 5000
                include_hrdf:
                  type: boolean
                  default: true
                married:
                  type: boolean
                  default: false
                  description: Marital status only; does not grant spouse relief
                spouse_eligible:
                  type: boolean
                  default: false
                  description: Non-working spouse qualifies for statutory relief
                children:
                  type: integer
                  default: 0
                  description: Non-negative integer; trailing garbage is rejected
                citizenship:
                  type: string
                  enum: [malaysian, non_malaysian]
                  default: malaysian
                age_60_plus:
                  type: boolean
                  default: false
                hrdf_category:
                  type: string
                  enum: [standard_1pct, reduced_0_5pct, exempt]
                  default: standard_1pct
                year:
                  type: integer
                  default: 2026
      responses:
        "200":
          description: Payslip breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      wage: { type: number }
                      year: { type: integer }
                      rates_version: { type: string }
                      employee_contributions:
                        type: object
                        properties:
                          epf: { type: number }
                          socso: { type: number }
                          eis: { type: number }
                          hrdf: { type: number }
                          pcb: { type: number }
                          total: { type: number }
                      employer_contributions:
                        type: object
                        properties:
                          epf: { type: number }
                          socso: { type: number }
                          eis: { type: number }
                          hrdf: { type: number }
                          total: { type: number }
                      net_pay: { type: number }
                      total_statutory_cost: { type: number }
                      tax_details:
                        type: object
                        properties:
                          annual_gross: { type: number }
                          annual_reliefs: { type: number }
                          annual_chargeable: { type: number }
                          annual_tax: { type: number }
                  labels:
                    type: object
                    additionalProperties: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
  /calculate-payslip/bulk:
    post:
      summary: Calculate payslips for multiple employees (max 500)
      operationId: calculatePayslipBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employees]
              properties:
                employees:
                  type: array
                  maxItems: 500
                  items:
                    type: object
                    properties:
                      name: { type: string, example: "Ali" }
                      wage: { type: number, example: 5000 }
                      married: { type: boolean, default: false }
                      children: { type: integer, default: 0 }
                      citizenship: { type: string, enum: [malaysian, non_malaysian], default: malaysian }
                      age_60_plus: { type: boolean, default: false }
                      spouse_eligible: { type: boolean, default: false }
                      hrdf_category: { type: string, enum: [standard_1pct, reduced_0_5pct, exempt], default: standard_1pct }
                include_hrdf:
                  type: boolean
                  default: true
                year:
                  type: integer
                  default: 2026
                hrdf_category:
                  type: string
                  enum: [standard_1pct, reduced_0_5pct, exempt]
                  default: standard_1pct
      responses:
        "200":
          description: Per-row payslip results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      count: { type: integer }
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            name: { type: string }
                            ok: { type: boolean }
                            data:
                              type: object
                            error:
                              type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
  /payslip.pdf:
    get:
      summary: Download a parser-valid sample payslip PDF
      operationId: payslipPdf
      parameters:
        - name: wage
          in: query
          required: true
          schema: { type: number }
          description: Gross monthly wage in RM
        - name: year
          in: query
          required: false
          schema: { type: integer, default: 2026 }
        - name: include_hrdf
          in: query
          required: false
          schema: { type: boolean, default: true }
          description: Include HRDF levy
      responses:
        "200":
          description: PDF document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message: { type: string }
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message: { type: string }
